/Sierra_2026_TimeSheetManagementSystem/nbproject/private/
/Sierra_2026_TimeSheetManagementSystem/Sierra_2026-war/nbproject/private/
/Sierra_2026_TimeSheetManagementSystem/Sierra_2026-ejb/nbproject/private/
/Sierra_2026_TimeSheetManagementSystem/build/
/Sierra_2026_TimeSheetManagementSystem/dist/
/Sierra_2026_TimeSheetManagementSystem/Sierra_2026-war/dist/
/Sierra_2026_TimeSheetManagementSystem/Sierra_2026-war/build/
/Sierra_2026_TimeSheetManagementSystem/Sierra_2026-ejb/build/
/Sierra_2026_TimeSheetManagementSystem/Sierra_2026-ejb/dist/
/Sierra_2026_TimeSheetManagementSystem/.vscode-build/
.DS_Store
